.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #1F1919;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 10vw;
}


.lists-left {
  display: flex;
  min-width: 400px;
  list-style: none;
  justify-content: space-between;
  color: #333333;
}

.original {
  width: 185px;
  height: 49px;
  text-decoration: none;
  color: #bfb6b6;
  font-size: 25px;

}
.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #a39c9b;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #6c6c6c;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
